<form class="form-horizontal" action="#" method="get">
    <fieldset>
        <div class="row reset_mg">
            <div class='col-sm-6'>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3">Tên khuyến mãi:</label>
                    <div class='input-group col-sm-9'>
                        <input id="" type='text' style="border-radius: 4px !important;" class="form-control" name="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row reset_mg">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3">Đối tượng: </label>
                    <div class="col-sm-9 reset_pd">
                        <select name="" id="" class="form-control">
                                  <option value="today">Nhà quảng cáo</option>
                                  <option value="yesterday">Admin</option>
                              </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row reset_mg">
            <div class='col-sm-6'>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3">Nội dung:</label>
                    <div class='input-group col-sm-9'>
                        <textarea class="form-control" rows="5" id="content" style="border-radius: 4px !important;"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row reset_mg">
            <div class='col-sm-6'>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3">Bắt đầu:</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input id="startday" type='text' class="form-control" name="startday" />
                        <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row reset_mg">
            <div class='col-sm-6'>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3">Kết thúc:</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input id="endday" type='text' class="form-control" name="endday" />
                        <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Thêm khuyến mãi" class="submit btn btn-primary">
    </fieldset>
</form>