<div class="left_nav_dropdown">
    <form>
        <fieldset>
            <select class="form-control" onchange="location = this.value;" name="nav_locations">
            <option class="overview" value="overview.html">Tổng quan</option>
            <option class="app_list" value="app_list.html">Danh sách ứng dụng</option>
            <option class="new_app" value="new_app.html">Ứng dụng mới</option>
            <option class="earnings" value="earnings.html">Thu nhập</option>
            <option class="exchange" value="exchange.html">Giao dịch</option>
            <option class="other" value="other.html">Khác</option>
            <option class="promotion" value="promotion.html">Khuyến mãi</option>
            <option class="adver_create" value="adver_create.html">Tạo quảng cáo</option>            
            <option class="account_setting" value="account_setting.html">Cài đặt tài khoản</option>
            <option class="payment_setting" value="payment_setting.html">Cài đặt thanh toán</option>
            <option class="payment_deatail" value="payment_deatail.html">Chi tiết thanh toán</option>
            <option class="email_notice" value="email_notice.html">Thông báo thư điện tử</option>
        </select>
        </fieldset>
    </form>
</div>