<footer id="footer">
    <div class="container">
        <div class="content_info">
            <div class="col col_1">
                <img src="../../assets/images/logo/abba.png" width="170" height="61">
            </div>
            <div class="col col_2">
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
            </div>
            <div class="col col_3">
                <p class="phone_num">123-456-7890<br />123-456-7890</p>
                <p class="address">500 Terry Francois Street<br />San Francisco, CA 94158</p>
                <div class="social">
                    <a href="#" class="hvr-pop"><img class="ic_facebook" src="../../assets/images/icon/ic_facebook_white.png" width="20" height="20"></a>
                    <a href="#" class="hvr-pop"><img class="ic_twitter" src="../../assets/images/icon/ic_twitter_white.png" width="20" height="20"></a>
                    <a href="#" class="hvr-pop"><img class="ic_googleplus" src="../../assets/images/icon/ic_googleplus_white.png" width="20" height="20"></a>
                    <a href="#" class="hvr-pop"><img class="ic_youtube" src="../../assets/images/icon/ic_youtube_white.png" width="20" height="20"></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2018 Abba. All Rights Reserved.</p>
        </div>
    </div>

</footer>