/*inner_content_box*/

.handy_dates {
    padding: 0;
}

.dataTable_cnt {
    margin-top: 30px;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
    display: none;
}

table.dataTable thead th.dt-head-left {
    text-align: right;
}