/*=========================
common
=========================*/

.inner_content_box {
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #ddd;
    margin: 6px 0;
    padding: 20px 15px;
    min-height: 610px;
}

span.glyphicon {
    font-size: 85%;
    margin-right: 10px;
}


/*=========================
main
=========================*/


/*overview*/

h2 {
    color: #555;
    font-size: 18px;
    margin: 15px 0;
    text-transform: uppercase;
}

.dashboard_tri_feature_box_top {
    text-align: center;
    background: #9ed683;
    ;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 4px;
}

.dashboard_tri_feature_box_top div {
    padding: 10px 12px;
}

.dashboard_tri_feature_box_top div span {
    font-size: 36px;
}

.dashboard_tri_feature_box_bottom_left {
    text-align: center;
    float: left;
    width: 50%;
}

.dashboard_tri_feature_box_bottom_left div {
    background: #e5f6dd;
    border-bottom-left-radius: 6px;
    margin-right: 2px;
}

.dashboard_tri_feature_box_bottom_left div div,
.dashboard_tri_feature_box_bottom_right div div {
    padding: 10px 12px;
    line-height: 24px;
}

.dashboard_tri_feature_box_bottom_left div div span,
.dashboard_tri_feature_box_bottom_right div div span {
    font-size: 22px;
}

.dashboard_tri_feature_box_bottom_right {
    text-align: center;
    float: right;
    width: 50%;
}

.dashboard_tri_feature_box_bottom_right div {
    background: #e5f6dd;
    border-bottom-right-radius: 6px;
    margin-left: 2px;
}

.canvasjs-chart-credit {
    display: none;
}

#chartEarnings {
    position: relative;
    height: 370px;
    width: 100%;
}

#chartEarnings:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #ffffff;
}

.chartEarnings_wrap {
    margin-top: 30px;
}

@media screen and (max-width: 690px) {
    #chartEarnings {
        height: 200px;
    }
}