<app-nav-sp></app-nav-sp>
<app-sidebar></app-sidebar>
<main class="inner_content_box col-sm-9 col-md-10 col-lg-10">
    <div class="overview clearfix">
        <div class="col-xs-12 col-md-6">
            <h2 class="text-center"><span class="glyphicon glyphicon-time"></span> Daily Earnings</h2>
            <div class="dashboard_tri_feature_box_top">
                <div><span>$0</span>
                    <br>Today</div>
            </div>
            <div class="dashboard_tri_feature_box_bottom_left">
                <div>
                    <div><span>$0</span>
                        <br>Yesterday</div>
                </div>
            </div>
            <div class="dashboard_tri_feature_box_bottom_right">
                <div>
                    <div><span>$0</span>
                        <br>Today Last Week</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <h2 class="text-center"><span class="glyphicon glyphicon-calendar"></span> Monthly Earnings</h2>
            <div class="dashboard_tri_feature_box_top">
                <div><span>$0</span>
                    <br>Month to Date</div>
            </div>
            <div class="dashboard_tri_feature_box_bottom_left">
                <div>
                    <div><span>$0</span>
                        <br>Last Pay Period</div>
                </div>
            </div>
            <div class="dashboard_tri_feature_box_bottom_right">
                <div>
                    <div><span>$0</span>
                        <br>This Pay Period</div>
                </div>
            </div>
        </div>
        <div class="chartEarnings_wrap col-xs-12">
            <h2 class="text-center">Earnings History</h2>
            <div echarts [options]="chartOption" id="chartEarnings"></div>
        </div>
    </div>
</main>