<nav class="sidebar col-sm-3 col-md-2 col-lg-2">
    <div class="sidebar_item">
        <h4 class="sidebar_tab_ttl">công ty abba</h4>
        <ul class="sidebar_tab">
            <li class="sidebar_tab_item overview"><a href="javascript:void(0)"><span class="glyphicon glyphicon-eye-open"></span>Tổng quan</a></li>
        </ul>
    </div>
    <div class="sidebar_item">
        <h4 class="sidebar_tab_ttl">ứng dụng của bạn</h4>
        <ul class="sidebar_tab">
            <li class="sidebar_tab_item app_list"><a href="app_list.html"><span class="glyphicon glyphicon-list"></span>danh sách ứng dụng</a></li>
            <li class="sidebar_tab_item new_app"><a href="new_app.html"><span class="glyphicon glyphicon-star"></span>ứng dụng mới</a></li>
        </ul>
    </div>
    <div class="sidebar_item">
        <h4 class="sidebar_tab_ttl">báo cáo</h4>
        <ul class="sidebar_tab">
            <li class="sidebar_tab_item earnings"><a href="" routerLink="/dashboard/earnings"><span class="glyphicon glyphicon-stats"></span>thu nhập</a></li>
            <li class="sidebar_tab_item exchange"><a href="" routerLink="/dashboard/request-exchange"><span class="glyphicon glyphicon-dashboard"></span>giao dịch</a></li>
            <li class="sidebar_tab_item other"><a href="" routerLink="/dashboard/other"><span class="glyphicon glyphicon-plus"></span>khác</a></li>
        </ul>
    </div>
    <div class="sidebar_item">
        <h4 class="sidebar_tab_ttl">tính năng - đặc điểm</h4>
        <ul class="sidebar_tab">
            <li class="sidebar_tab_item promotion"><a href="" routerLink="/dashboard/promotion"><span class="glyphicon glyphicon-gift"></span>khuyến mãi</a></li>
            <li class="sidebar_tab_item adver_create"><a href="" routerLink="/dashboard/adver-create"><span class="glyphicon glyphicon-bullhorn"></span>Tạo quảng cáo</a></li>
        </ul>
    </div>
    <div class="sidebar_item">
        <h4 class="sidebar_tab_ttl">tài khoản</h4>
        <ul class="sidebar_tab">
            <li class="sidebar_tab_item account_setting"><a href="account_setting.html"><span class="glyphicon glyphicon-user"></span>cài đặt tài khoản</a></li>
            <li class="sidebar_tab_item payment_setting"><a href="payment_setting.html"><span class="glyphicon glyphicon-cog"></span>cài đặt thanh toán</a></li>
            <li class="sidebar_tab_item payment_deatail"><a href="/dashboard/payment-detail"><span class="glyphicon glyphicon-signal"></span>chi tiết thanh toán</a></li>
            <li class="sidebar_tab_item email_notice"><a href="email_notice.html"><span class="glyphicon glyphicon-envelope"></span>thông báo thư điện tử</a></li>
        </ul>
    </div>
</nav>