<h2 class="filter_ttl"><span class="glyphicon glyphicon-stats"></span>bộ lọc báo cáo</h2>
<form class="form-horizontal" action="#" method="get">
    <fieldset>
        <div class="row reset_mg">
            <div class='col-sm-6'>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3">Bắt đầu:</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input id="startday" ngx-mydatepicker [(ngModel)]="model1" [options]="dateOptions1" #start="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" type='text' class="form-control" name="startday" />
                        <span class="input-group-btn">
    
                            <button type="button" class="btn btn-default" (click)="start.toggleCalendar()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row reset_mg">
            <div class='col-sm-6'>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3">Kết thúc:</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input id="endday" ngx-mydatepicker [(ngModel)]="model2" [options]="dateOptions2" #end="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" type='text' class="form-control" name="endday" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" (click)="end.toggleCalendar()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row reset_mg handy_dates_wrap">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3">Handy Ngày:</label>
                    <div class="col-sm-9 handy_dates">
                        <select name="handydatesdd" id="handy-dropdown" class="form-control">
                                    <option value="today">Today</option>
                                    <option value="yesterday">Yesterday</option>
                                    <option value="current_month">Current Month</option>
                                    <option value="last_30" selected="1">Last 30 Days</option>
                                    <option value="previous_30">Previous 30 Days</option>
                                </select>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Cập nhật" class="btn btn-primary btn_update">
    </fieldset>
</form>