<app-nav-sp></app-nav-sp>
<app-sidebar></app-sidebar>
<main class="inner_content_box col-sm-9 col-md-10 col-lg-10">
    <div class="inner_cntbox_ttl">
        <p>Danh sách tất cả chiến dịch</p>
    </div>
    <form class="form-horizontal" action="#" method="get">
        <fieldset>
            <div class="row reset_mg">
                <div class="form-group form-group-sm">
                    <div class='col-sm-6'>
                        <div class="row">
                            <div class='col-sm-6'>
                                <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" style="border-radius: 4px; width: 100%;">
                            </div>
                            <div class='col-sm-3'>
                                <input type="submit" value="Tìm kiếm" class="btn btn-primary btn_update">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="inner_table table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Chiến dịch</th>
                    <th>Ngân sách</th>
                    <th>Trạng thái</th>
                    <th>Loại chiến dịch</th>
                    <th>Đặt giá</th>
                    <th>Tương tác/Hiển thị</th>
                    <th>Lượt cài đặt</th>
                    <th>Chi phí</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Giao tiếp tiếng Nhật</td>
                    <td>100.000vnđ/ngày</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </td>
                    <td>Tải ứng dụng</td>
                    <td>500vnđ</td>
                    <td>999.999</td>
                    <td>10.000</td>
                    <td>10.000vnđ</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Giao tiếp tiếng Nhật</td>
                    <td>100.000vnđ/ngày</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </td>
                    <td>Tải ứng dụng</td>
                    <td>500vnđ</td>
                    <td>999.999</td>
                    <td>10.000</td>
                    <td>10.000vnđ</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Giao tiếp tiếng Nhật</td>
                    <td>100.000vnđ/ngày</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                    </td>
                    <td>Tải ứng dụng</td>
                    <td>500vnđ</td>
                    <td>999.999</td>
                    <td>10.000</td>
                    <td>10.000vnđ</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Giao tiếp tiếng Nhật</td>
                    <td>100.000vnđ/ngày</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </td>
                    <td>Tải ứng dụng</td>
                    <td>500vnđ</td>
                    <td>999.999</td>
                    <td>10.000</td>
                    <td>10.000vnđ</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="statistical">
        <div class="sum sum_acc row">
            <div class="col-md-3">
                <p>Tổng số: tất cả ngân sách</p>
            </div>
            <div class="col-md-9">
                <p>400.000vnđ/ngày</p>
            </div>
        </div>
        <div class="sum sum_money row">
            <div class="col-md-3">
                <p>Tổng số: Tất cả chi phí chiến dịch</p>
            </div>
            <div class="col-md-9">
                <p>40.000vnđ</p>
            </div>
        </div>
    </div>
    <div class="inner_pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>