<app-nav-sp></app-nav-sp>
<app-sidebar></app-sidebar>
<main class="inner_content_box col-sm-9 col-md-10 col-lg-10">
    <div class="inner_cntbox_ttl">
        <p>Danh sách tất cả user</p>
    </div>

    <form class="form-horizontal" action="#" method="get">
        <fieldset>
            <div class="row reset_mg">
                <div class='col-sm-4'>
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-3">Bắt đầu:</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input id="startday" ngx-mydatepicker [(ngModel)]="model1" [options]="dateOptions1" #start="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" type='text' class="form-control" name="startday" />
                            <span class="input-group-btn">
    
                            <button type="button" class="btn btn-default" (click)="start.toggleCalendar()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-3">Kết thúc:</label>
                        <div class='input-group date' id='datetimepicker2'>
                            <input id="endday" ngx-mydatepicker [(ngModel)]="model2" [options]="dateOptions2" #end="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" type='text' class="form-control" name="endday" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" (click)="end.toggleCalendar()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <input type="submit" value="Tìm kiếm" class="btn btn-primary btn_update">
                </div>
            </div>


        </fieldset>
    </form>

    <form class="form-horizontal" action="#" method="get">
        <fieldset>
            <div class="row reset_mg">
                <div class="form-group form-group-sm">
                    <div class='col-sm-9'></div>
                    <div class='col-sm-3 text-right' id="input_user_search">
                        <input type="text" placeholder="Nhập tên tài khoản" class="form-control" style="border-radius: 20px; width: 100%;">
                        <input type="submit" value="Tìm kiếm" class="btn_search">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="inner_table table-responsive" style="margin-top: 0">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tài khoản</th>
                    <th>Số app tải</th>
                    <th>Tương tác web</th>
                    <th>Xem youtube</th>
                    <th>Tương tác facebook</th>
                    <th>Số coin</th>
                    <th>Block</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>qthangbk@gmail.com</td>
                    <td>69</td>
                    <td>96</td>
                    <td>69</td>
                    <td>96</td>
                    <td>20.000</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </td>
                    <td><button type="button" class="btn btn-primary">Chi tiết</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>qthangbk@gmail.com</td>
                    <td>69</td>
                    <td>96</td>
                    <td>69</td>
                    <td>96</td>
                    <td>20.000</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                    </td>
                    <td><button type="button" class="btn btn-primary">Chi tiết</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>qthangbk@gmail.com</td>
                    <td>69</td>
                    <td>96</td>
                    <td>69</td>
                    <td>96</td>
                    <td>20.000</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </td>
                    <td><button type="button" class="btn btn-primary">Chi tiết</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>qthangbk@gmail.com</td>
                    <td>69</td>
                    <td>96</td>
                    <td>69</td>
                    <td>96</td>
                    <td>20.000</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </td>
                    <td><button type="button" class="btn btn-primary">Chi tiết</button></td>
                </tr>
                <tr>
                    <td> </td>
                    <td>Tổng các chỉ số:</td>
                    <td>69</td>
                    <td>96</td>
                    <td>69</td>
                    <td>96</td>
                    <td>20.000</td>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="statistical">
        <div class="sum sum_acc row">
            <div class="col-md-3">
                <p>Tổng số tài khoản:</p>
            </div>
            <div class="col-md-9">
                <p>400.000</p>
            </div>
        </div>
        <div class="sum sum_money row">
            <div class="col-md-3">
                <p>Tổng số tiền coin:</p>
            </div>
            <div class="col-md-9">
                <p>200.000</p>
            </div>
        </div>
    </div>
    <div class="inner_pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>