<app-nav-sp></app-nav-sp>
<app-sidebar></app-sidebar>
<main class="inner_content_box col-sm-9 col-md-10 col-lg-10">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="inner_cntbox_ttl">
        <p>Danh sách mã thanh toán</p>
    </div>
    <div class="inner_table table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Hình thức thanh toán</th>
                    <th>Số tiền</th>
                    <th>Tài khoản</th>
                    <th>Mã nạp</th>
                    <th>Số serial</th>
                </tr>
            </thead>
            <tbody *ngIf="requests.length">
                <tr id={{request.id}} *ngFor="let i = index; let request of requests | paginate: { id: 'server', itemsPerPage: 10, currentPage: page, totalItems: count }">
                    <td>{{i + 1 }}</td>
                    <td [ngSwitch]="request.type ">
                        <span *ngSwitchCase="1 ">Card Viettel</span>
                        <span *ngSwitchCase="2 ">Card Mobiphone</span>
                        <span *ngSwitchCase="3 ">Card Vinaphone</span>
                        <span *ngSwitchCase="4 ">Card Vietnammobile</span>
                    </td>
                    <td>{{request.amount}}</td>
                    <td>{{request.user}}</td>
                    <td>{{request.code}}</td>
                    <td>{{request.serial}}</td>
                </tr>
            </tbody>
        </table>
        <div class="has-text-centered">
            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
    </div>
    <div class="statistical">
        <div class="sum sum_acc row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <p>Tổng số chưa thanh toán:</p>
                    </div>
                    <div class="col-md-6">
                        <p>{{pending | currency:'VND':'symbol':'4.2-2'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <p>Tổng số đã thanh toán:</p>
                    </div>
                    <div class="col-md-6">
                        <p>{{approved | currency:'VND':'symbol':'4.2-2'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>