<app-nav-sp></app-nav-sp>
<app-sidebar></app-sidebar>
<main class="inner_content_box col-sm-9 col-md-10 col-lg-10">
    <div class="adver-create">
        <div class="list_item_adver">
            <div class="row">
                <div class="item_adver col-xs-6 col-sm-4">
                    <div class="item_adver_inner">
                        <div class="setting1 state1">
                            <i class="icon_adver ic_setting">&nbsp;</i>
                            <h4 class="col_ttl">Cài đặt ứng dụng</h4>
                            <p class="col_cnt">Hình thức quảng cáo tăng lượng tải và keyword về app của doanh nghiệp/ cửa hàng.</p>
                            <a class="btn_start btn btn-primary">Bắt đầu</a>
                        </div>
                        <div class="setting2 state2">
                            <h4 class="col_ttl">Cài đặt ứng dụng</h4>
                            <div class="form-group">
                                <form action="#">
                                    <div class="form-group">
                                        <select class="form-control" id="">
                                        <option>Android</option>
                                        <option>iOS</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên gói hoặc nhà xuất bản" class="form-control" id="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" id="">
                                    </div>
                                    <button type="submit" class="btn_create btn btn-primary">Tạo quảng cáo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_adver col-xs-6 col-sm-4">
                    <div class="item_adver_inner">
                        <div class="website1 state1">
                            <i class="icon_adver ic_adver">&nbsp;</i>
                            <h4 class="col_ttl">Quảng cáo website</h4>
                            <p class="col_cnt">Hình thức quảng cáo tăng lượng truy cập về website của doanh nghiệp/ cửa hàng.</p>
                            <a class="btn_start btn btn-primary">Bắt đầu</a>
                        </div>
                        <div class="website2 state2">
                            <h4 class="col_ttl">Quảng cáo Website/ Youtube</h4>
                            <div class="form-group">
                                <form action="#">
                                    <div class="form-group">
                                        <select class="form-control" id="">
                                        <option>Website</option>
                                        <option>Youtube</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Liên kết website" class="form-control" id="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" id="">
                                    </div>
                                    <button type="submit" class="btn_create btn btn-primary">Tạo quảng cáo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Optional: clear the XS cols if their content doesn't match in height -->
                <div class="item_adver col-xs-6 col-sm-4">
                    <div class="item_adver_inner">
                        <div class="facebook1 state1">
                            <i class="icon_adver ic_facebook">&nbsp;</i>
                            <h4 class="col_ttl">Quảng cáo Facebook</h4>
                            <p class="col_cnt">Hình thức quảng cáo tăng lượng truy cập like fanpage, bài viết đánh sao về mạng xã hội của doanh nghiệp/ cửa hàng.</p>
                            <a class="btn_start btn btn-primary">Bắt đầu</a>
                        </div>
                        <div class="facebook2 state2">
                            <h4 class="col_ttl">Quảng cáo Facebook</h4>
                            <div class="form-group">
                                <form action="#">
                                    <div class="form-group">
                                        <select class="form-control" id="">
                                        <option>Fanpage</option>
                                        <option>Bài viết</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" id="">
                                    </div>
                                    <button type="submit" class="btn_create btn btn-primary">Tạo quảng cáo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>