/*  app */

.app_state1 {
    /* display: none; */
}

.app_state2 {
    display: none;
}


/*  web */

.web_state1 {
    /* display: none; */
}

.web_state2 {
    display: none;
}


/*  fb  */

.fb_state1 {
    /* display: none; */
}

.fb_state2 {
    display: none;
}

.state_1_2 {
    /* display: none; */
}

.state3 {
    display: none;
}


/* icon */

.icon_adver {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.ic_setting {
    background: url(../../../../assets/images/icon/ic_setting.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.ic_adver {
    background: url(../../../../assets/images/icon/ic_website.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.ic_facebook {
    background: url(../../../../assets/images/icon/ic_facebook2.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}


/* common */

.fwb {
    font-weight: bold;
}

.bdb {
    border-bottom: solid 1px #e3eaf3;
}

.mgl10 {
    margin-left: 10px;
}

.mgt10 {
    margin-top: 10px;
}

.mgt5 {
    margin-top: 5px;
}

.mgt20 {
    margin: 20px 0 0;
}

.pd0 {
    padding: 0;
}

.pdt5 {
    padding-top: 5px;
}

.pdt10 {
    padding-top: 10px;
}

.mg0 {
    margin: 0;
}

.adver-create {
    padding: 30px 10px;
}

.item_adver {
    text-align: center;
    padding: 0 30px;
}

.item_adver_inner {
    position: relative;
    background-color: rgb(239, 247, 250);
    height: 390px;
    padding: 20px 35px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}

.item_adver_inner:hover {
    background-color: #d1e9f0;
}

.item_adver_inner .col_cnt {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    min-height: 100px;
}

.item_adver_inner .btn_start {
    width: 100px;
    left: calc(50% - 50px);
}

.item_adver_inner .btn_create {
    width: 120px;
    left: calc(50% - 60px);
}

.item_adver_inner .btn_start,
.item_adver_inner .btn_create {
    position: absolute;
    bottom: 20px;
}

.state2 .form-group:first-child {
    margin-top: 30px;
}

.action {
    margin: 0;
    padding-bottom: 10px;
}

.ttl_question {
    font-size: 15px;
    padding: 15px 20px;
    font-weight: bold;
    background-color: #f2f6fa;
}

.more_info {
    border: solid 1px #e0e0e0;
    padding: 0 10px;
    max-height: 160px;
    overflow-y: scroll;
}

.infor_state {
    background-color: #f2f6fa;
    padding: 15px 15px 10px;
}

.infor_state_ttl {
    font-weight: bold;
    font-size: 15px;
}

.infor_state ul {
    font-weight: bold;
}

.infor_state li {
    font-weight: normal;
    margin-left: 28px;
}