<app-nav-sp></app-nav-sp>
<app-sidebar></app-sidebar>
<main class="inner_content_box col-sm-9 col-md-10 col-lg-10">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="adver-create">
        <div class="list_item_adver">
            <div class="row state_1_2">
                <div class="item_adver col-xs-6 col-sm-4">
                    <div class="item_adver_inner">
                        <div class="setting1 app_state1">
                            <i class="icon_adver ic_setting">&nbsp;</i>
                            <h4 class="col_ttl">Cài đặt ứng dụng</h4>
                            <p class="col_cnt">Hình thức quảng cáo tăng lượng tải và keyword về app của doanh nghiệp/ cửa hàng.</p>
                            <a class="btn_start btn btn-primary" (click)="step2('app')">Bắt đầu</a>
                        </div>
                        <div class="setting2 app_state2">
                            <a class='close' (click)="closeState2('app')">X</a>
                            <h4 class="col_ttl">Cài đặt ứng dụng</h4>
                            <div class="form-group">
                                <form action="#" [formGroup]="appForm" #formDir="ngForm">
                                    <div class="form-group">
                                        <select class="form-control" id="" formControlName="appType">
                                            <option [ngValue]="0">Android</option>
                                            <option [ngValue]="1">iOS</option>
                                        </select>
                                    </div>
                                    <div class="ic_validate_wrap form-group">
                                        <input type="text" placeholder="Nhập tên gói hoặc nhà xuất bản" class="form-control" id="" formControlName="appId" (focusout)="checkApp($event)" (focus)="inputAppId()">
                                        <div *ngIf="!isEnterAppId">
                                            <span [ngSwitch]="isAppExists">
                                                <span *ngSwitchCase="false" class="ic_validate error glyphicon glyphicon-remove"></span>
                                            <span *ngSwitchCase="true" class="ic_validate glyphicon glyphicon-ok success"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                    <div *ngIf="appId.invalid && appId.touched" class="vali_error">

                                        <div *ngIf="appId.errors.required">
                                            * appId is required.
                                        </div>
                                        <div *ngIf="appId.errors.minlength">
                                            * appId must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" id="" formControlName="appCampaign">
                                    </div>
                                    <div *ngIf="appCampaign.invalid && appCampaign.touched" class="vali_error">

                                        <div *ngIf="appCampaign.errors.required">
                                            * appCampaign is required.
                                        </div>
                                        <div *ngIf="appCampaign.errors.minlength">
                                            * appCampaign must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn_create btn btn-primary" [disabled]="appForm.invalid || !isAppExists" (click)="registerApp()">Tạo quảng cáo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_adver col-xs-6 col-sm-4">
                    <div class="item_adver_inner">
                        <div class="website1 web_state1">
                            <i class="icon_adver ic_adver">&nbsp;</i>
                            <h4 class="col_ttl">Quảng cáo website</h4>
                            <p class="col_cnt">Hình thức quảng cáo tăng lượng truy cập về website của doanh nghiệp/ cửa hàng.</p>
                            <a class="btn_start btn btn-primary" (click)="step2('web')">Bắt đầu</a>
                        </div>
                        <div class="website2 web_state2">
                            <a class='close' (click)="closeState2('web')">X</a>
                            <h4 class="col_ttl">Quảng cáo Website/ Youtube</h4>
                            <div class="form-group">
                                <form action="#" [formGroup]="webForm" #formDir="ngForm">
                                    <div class="form-group">
                                        <select class="form-control" id="">
                                            <option>Website</option>
                                            <option>Youtube</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Liên kết website" class="form-control" id="" formControlName="webUrl">
                                    </div>
                                    <div *ngIf="webUrl.invalid && webUrl.touched" class="vali_error">

                                        <div *ngIf="webUrl.errors.required">
                                            * webUrl is required.
                                        </div>
                                        <div *ngIf="webUrl.errors.minlength">
                                            * webUrl must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" id="" formControlName="webCampaign">
                                    </div>
                                    <div *ngIf="webCampaign.invalid && webCampaign.touched" class="vali_error">

                                        <div *ngIf="webCampaign.errors.required">
                                            * webCampaign is required.
                                        </div>
                                        <div *ngIf="webCampaign.errors.minlength">
                                            * webCampaign must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn_create btn btn-primary" [disabled]="webForm.invalid" (click)="registerWeb()">Tạo quảng cáo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Optional: clear the XS cols if their content doesn't match in height -->
                <div class="item_adver col-xs-6 col-sm-4">
                    <div class="item_adver_inner">
                        <div class="facebook1 fb_state1">
                            <i class="icon_adver ic_facebook">&nbsp;</i>
                            <h4 class="col_ttl">Quảng cáo Facebook</h4>
                            <p class="col_cnt">Hình thức quảng cáo tăng lượng truy cập like fanpage, bài viết đánh sao về mạng xã hội của doanh nghiệp/ cửa hàng.</p>
                            <a class="btn_start btn btn-primary" (click)="step2('fb')">Bắt đầu</a>
                        </div>
                        <div class="facebook2 fb_state2">
                            <a class='close' (click)="closeState2('fb')">X</a>
                            <h4 class="col_ttl">Quảng cáo Facebook</h4>
                            <div class="form-group">
                                <form action="#" [formGroup]="fbForm" #formDir="ngForm">
                                    <div class="form-group">
                                        <select class="form-control" id="">
                                        <option>Fanpage</option>
                                        <option>Bài viết</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Liên kết facebook" class="form-control" id="" formControlName="fbUrl">
                                    </div>
                                    <div *ngIf="fbUrl.invalid && fbUrl.touched" class="vali_error">

                                        <div *ngIf="fbUrl.errors.required">
                                            * fbUrl is required.
                                        </div>
                                        <div *ngIf="fbUrl.errors.minlength">
                                            * fbUrl must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" id="" formControlName="fbCampaign">
                                    </div>
                                    <div *ngIf="fbCampaign.invalid && fbCampaign.touched" class="vali_error">

                                        <div *ngIf="fbCampaign.errors.required">
                                            * fbCampaign is required.
                                        </div>
                                        <div *ngIf="fbCampaign.errors.minlength">
                                            * fbCampaign must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn_create btn btn-primary" [disabled]="fbForm.invalid" (click)="registerFb()">Tạo quảng cáo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row state3">
                <form [formGroup]="adsForm" #formDir="ngForm">
                    <div class="row no-gutters mg0">
                        <p class="ttl_question">Bạn muốn quảng cáo này đến ai?</p>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-4 text-right">
                                    <p class="mgt10">Chọn địa điểm<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <input type="text" class="form-control" id="" placeholder="Nhập tên Tỉnh/ Thành phố" formControlName="address">
                                    <div *ngIf="address.invalid && address.touched" class="vali_error">

                                        <div *ngIf="address.errors.required">
                                            * fbCampaign is required.
                                        </div>
                                        <div *ngIf="address.errors.minlength">
                                            * fbCampaign must be at least 6 characters long.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters mgt20">
                                <div class="col-6 col-md-4 text-right">
                                    <p>Giới tính<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" id="" formControlName="sex">
                                            <option [ngValue]="0">Tất cả</option>
                                            <option [ngValue]="1">Nam</option>
                                            <option [ngValue]="2">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters mgt20">
                                <div class="col-6 col-md-4 text-right">
                                    <p>Độ tuổi<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="col-12 col-sm-5 col-md-5 pd0">
                                        <select class="form-control" id="" formControlName="ageFrom">
                                            <option *ngFor="let i of ageFroms" [ngValue]="i">{{i}}</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-2 col-md-2 pdt5 text-center">-
                                    </div>
                                    <div class="col-12 col-sm-5 col-md-5 pd0">
                                        <select class="form-control" id="" formControlName="ageTo">
                                            <option *ngFor="let i of ageTos" [ngValue]="i">{{i}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters mgt20">
                                <div class="col-6 col-md-4 text-right">
                                    <p class="mgt10">Nền tảng<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" formControlName="isAndroid">
                                            Android
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" formControlName="isIos">
                                            iOS
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="infor_state">
                                <p class="infor_state_ttl">Chi tiết đối tượng</p>
                                <ul>+ Tỉnh/ Thành phố
                                    <li *ngIf="adsForm.value.address" style="overflow-wrap:break-word;">{{adsForm.value.address}}</li>
                                </ul>
                                <ul [ngSwitch]="adsForm.value.sex">+ Giới tính
                                    <li *ngSwitchCase="0">Tất cả</li>
                                    <li *ngSwitchCase="1">Nam</li>
                                    <li *ngSwitchCase="2">Nữ</li>
                                </ul>
                                <ul>+ Tuổi
                                    <li>{{adsForm.value.ageFrom}} - {{adsForm.value.ageTo}}</li>
                                </ul>
                                <ul>+ Nền tảng
                                    <li *ngIf="adsForm.value.isAndroid">Android</li>
                                    <li *ngIf="adsForm.value.isIos">iOS</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row no-gutters mgt20">
                    <form [formGroup]="adsDetailForm" #formDir="ngForm">
                        <p class="ttl_question">Bạn có thể trả bao nhiêu chi phí cho quảng cáo này?</p>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-4 text-right">
                                    <p>Lịch chạy<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group form-group-sm">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input id="startday" ngx-mydatepicker [options]="dateOptions" #start="ngx-mydatepicker" type='text' class="form-control" name="startday" formControlName="dateFrom" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" (click)="start.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group form-group-sm">
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input id="today" ngx-mydatepicker [options]="dateOptions" #end="ngx-mydatepicker" type='text' class="form-control" name="today" formControlName="dateTo" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" (click)="end.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-6 col-md-4 text-right">
                                    <p>Số lượng<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4">
                                    <div class="form-group form-group-sm">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="" placeholder="Nhập số lượng" formControlName="amount">
                                        </div>
                                    </div>
                                    <div *ngIf="amount.invalid && amount.touched" class="vali_error">
                                        <div *ngIf="amount.errors.min">
                                            * amount must be greater than 0.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters" [hidden]="!isApp">
                                <div class="col-6 col-md-4 text-right">
                                    <p class="mgt10">Chọn gói<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group form-group-sm">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" formControlName="isInstall"> Cài đặt
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" formControlName="isView"> Xem
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                </div>
                            </div>

                            <div class="row no-gutters" [hidden]="!isApp">
                                <div class="col-6 col-md-4 text-right">
                                    <p>Từ khóa<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="row no-gutters mg0">
                                        <div class="form-group form-group-sm">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="" placeholder="Nhập từ khóa" formControlName="keyword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col-6 col-md-4 text-right">
                                    <p>Số coin<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="row no-gutters">
                                        <div class="col-12 col-sm-6 col-md-8">
                                            <div class="form-group form-group-sm">
                                                <div class="form-group">
                                                    <input type="number" class="form-control" id="" placeholder="Nhập số coin" formControlName="coin">
                                                </div>
                                            </div>
                                            <div *ngIf="coin.invalid && coin.touched" class="vali_error">
                                                <div *ngIf="coin.errors.min">
                                                    * coin must be greater than 0.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col-6 col-md-4 text-right">
                                    <p>Độ ưu tiên<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="row no-gutters">
                                        <div class="col-12 col-sm-6 col-md-8">
                                            <div class="form-group form-group-sm">
                                                <div class="form-group">
                                                    <select class="form-control" id="" formControlName="priority">
                                                            <option [ngValue]="0">Bình thường</option>
                                                            <option [ngValue]="1">Tăng tốc</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row no-gutters mgt20" [hidden]="isApp">
                    <!-- <p class="ttl_question">Thông tin thêm</p> -->
                    <!-- <div class="col-12 col-sm-6 col-md-8">
                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p>Ngành nghề<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="more_info">
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Trò chơi
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Nhạc và phim ảnh
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Giáo dục
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Sức khỏe làm đẹp
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Thiết bị điện tử và phần mềm
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Ẩm thực
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Thời trang
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="row no-gutters mgt20">
                    <div class="col-6 col-md-8">
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 text-right">
                        <button type="button" class="btn btn-default" (click)="cancel()">Hủy bỏ</button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2">
                        <button type="button" class="btn btn-primary" (click)="createAds()" [disabled]="adsForm.invalid || adsDetailForm.invalid">Tạo quảng cáo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>