<app-nav-sp></app-nav-sp>
<app-sidebar></app-sidebar>
<main class="inner_content_box col-sm-9 col-md-10 col-lg-10">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="adver-create">
        <div class="list_item_adver">
            <div class="row state_1_2">
                <div class="item_adver col-xs-6 col-sm-4">
                    <div class="item_adver_inner">
                        <div class="setting1 app_state1">
                            <i class="icon_adver ic_setting">&nbsp;</i>
                            <h4 class="col_ttl">Cài đặt ứng dụng</h4>
                            <p class="col_cnt">Hình thức quảng cáo tăng lượng tải và keyword về app của doanh nghiệp/ cửa hàng.</p>
                            <a class="btn_start btn btn-primary" (click)="step2('app')">Bắt đầu</a>
                        </div>
                        <div class="setting2 app_state2">
                            <h4 class="col_ttl">Cài đặt ứng dụng</h4>
                            <div class="form-group">
                                <form action="#" [formGroup]="appForm" #formDir="ngForm">
                                    <div class="form-group">
                                        <select class="form-control" id="" formControlName="appType">
                                        <option [ngValue]="0">Android</option>
                                        <option [ngValue]="1">iOS</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên gói hoặc nhà xuất bản" class="form-control" id="" formControlName="appId">
                                    </div>
                                    <div *ngIf="appId.invalid && appId.touched" class="vali_error">

                                        <div *ngIf="appId.errors.required">
                                            * appId is required.
                                        </div>
                                        <div *ngIf="appId.errors.minlength">
                                            * appId must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" id="" formControlName="appCampaign">
                                    </div>
                                    <div *ngIf="appCampaign.invalid && appCampaign.touched" class="vali_error">

                                        <div *ngIf="appCampaign.errors.required">
                                            * appCampaign is required.
                                        </div>
                                        <div *ngIf="appCampaign.errors.minlength">
                                            * appCampaign must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn_create btn btn-primary" [disabled]="appForm.invalid" (click)="registerApp()">Tạo quảng cáo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_adver col-xs-6 col-sm-4">
                    <div class="item_adver_inner">
                        <div class="website1 web_state1">
                            <i class="icon_adver ic_adver">&nbsp;</i>
                            <h4 class="col_ttl">Quảng cáo website</h4>
                            <p class="col_cnt">Hình thức quảng cáo tăng lượng truy cập về website của doanh nghiệp/ cửa hàng.</p>
                            <a class="btn_start btn btn-primary" (click)="step2('web')">Bắt đầu</a>
                        </div>
                        <div class="website2 web_state2">
                            <h4 class="col_ttl">Quảng cáo Website/ Youtube</h4>
                            <div class="form-group">
                                <form action="#" [formGroup]="webForm" #formDir="ngForm">
                                    <div class="form-group">
                                        <select class="form-control" id="">
                                        <option>Website</option>
                                        <option>Youtube</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Liên kết website" class="form-control" id="" formControlName="webUrl">
                                    </div>
                                    <div *ngIf="webUrl.invalid && webUrl.touched" class="vali_error">

                                        <div *ngIf="webUrl.errors.required">
                                            * webUrl is required.
                                        </div>
                                        <div *ngIf="webUrl.errors.minlength">
                                            * webUrl must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" id="" formControlName="webCampaign">
                                    </div>
                                    <div *ngIf="webCampaign.invalid && webCampaign.touched" class="vali_error">

                                        <div *ngIf="webCampaign.errors.required">
                                            * webCampaign is required.
                                        </div>
                                        <div *ngIf="webCampaign.errors.minlength">
                                            * webCampaign must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn_create btn btn-primary" [disabled]="webForm.invalid" (click)="registerWeb()">Tạo quảng cáo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Optional: clear the XS cols if their content doesn't match in height -->
                <div class="item_adver col-xs-6 col-sm-4">
                    <div class="item_adver_inner">
                        <div class="facebook1 fb_state1">
                            <i class="icon_adver ic_facebook">&nbsp;</i>
                            <h4 class="col_ttl">Quảng cáo Facebook</h4>
                            <p class="col_cnt">Hình thức quảng cáo tăng lượng truy cập like fanpage, bài viết đánh sao về mạng xã hội của doanh nghiệp/ cửa hàng.</p>
                            <a class="btn_start btn btn-primary" (click)="step2('fb')">Bắt đầu</a>
                        </div>
                        <div class="facebook2 fb_state2">
                            <h4 class="col_ttl">Quảng cáo Facebook</h4>
                            <div class="form-group">
                                <form action="#" [formGroup]="fbForm" #formDir="ngForm">
                                    <div class="form-group">
                                        <select class="form-control" id="">
                                        <option>Fanpage</option>
                                        <option>Bài viết</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Liên kết facebook" class="form-control" id="" formControlName="fbUrl">
                                    </div>
                                    <div *ngIf="fbUrl.invalid && fbUrl.touched" class="vali_error">

                                        <div *ngIf="fbUrl.errors.required">
                                            * fbUrl is required.
                                        </div>
                                        <div *ngIf="fbUrl.errors.minlength">
                                            * fbUrl must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nhập tên chiến dịch" class="form-control" id="" formControlName="fbCampaign">
                                    </div>
                                    <div *ngIf="fbCampaign.invalid && fbCampaign.touched" class="vali_error">

                                        <div *ngIf="fbCampaign.errors.required">
                                            * fbCampaign is required.
                                        </div>
                                        <div *ngIf="fbCampaign.errors.minlength">
                                            * fbCampaign must be at least 6 characters long.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn_create btn btn-primary" [disabled]="fbForm.invalid" (click)="registerFb()">Tạo quảng cáo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row state3">
                <div class="row action bdb">
                    <div class="col-xs-6 col-md-1"><button type="button" class="btn btn-info">Tạo mới</button></div>
                    <div class="col-xs-6 col-md-4">
                        <select class="form-control" id="sel1">
                            <option>Đối tượng quảng cáo</option>
                            <option>Đối tượng quảng cáo 1</option>
                            <option>Đối tượng quảng cáo 2</option>
                            <option>Đối tượng quảng cáo 3</option>
                        </select></div>
                    <div class="col-xs-6 col-md-7 text-right"><button type="button" class="btn btn-warning">Tạo nhóm đối tượng</button></div>
                </div>
                <div class="row no-gutters mg0">
                    <p class="ttl_question">Bạn muốn quảng cáo này đến ai?</p>
                    <div class="col-12 col-sm-6 col-md-8">
                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p class="mgt10">Chọn địa điểm<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                        Tỉnh/ Thành phố
                                    </label>
                                </div>
                                <input type="text" class="form-control" id="" placeholder="Nhập tên Tỉnh/ Thành phố">
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                        Vị trí cụ thể
                                    </label>
                                </div>
                                <div class="map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7640795320226!2d108.22027161531658!3d16.07772774347968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219646b643e31%3A0x4bf059fbffb01881!2zMDIgTMO9IFThu7EgVHLhu41uZywgSOG6o2kgQ2jDonUsIMSQw6AgTuG6tW5nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1526627595827"
                                        width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters mgt20">
                            <div class="col-6 col-md-4 text-right">
                                <p>Giới tính<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <select class="form-control" id="">
                                                <option>Tất cả</option>
                                                <option>Nam</option>
                                                <option>Nữ</option>
                                              </select>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters mgt20">
                            <div class="col-6 col-md-4 text-right">
                                <p>Độ tuổi<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="col-12 col-sm-5 col-md-5 pd0">
                                    <select class="form-control" id="">
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-2 col-md-2 pdt5 text-center">-
                                </div>
                                <div class="col-12 col-sm-5 col-md-5 pd0">
                                    <select class="form-control" id="">
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters mgt20">
                            <div class="col-6 col-md-4 text-right">
                                <p class="mgt10">Nền tảng<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        Android
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                            <input type="checkbox" value="">
                                            iOS
                                        </label>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters mgt20">
                            <div class="col-6 col-md-4 text-right">
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <button type="button" class="btn btn-primary">Lưu nhóm đối tượng</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="infor_state">
                            <p>Số người tiếp cận tiềm năng: <span class="fwb">696,969</span> người</p>
                            <p class="infor_state_ttl">Chi tiết đối tượng</p>
                            <ul>+ Tỉnh/ Thành phố
                                <li>Tất cả</li>
                            </ul>
                            <ul>+ Giới tính
                                <li>Nam</li>
                                <li>Nữ</li>
                            </ul>
                            <ul>+ Tuổi
                                <li>13 - 65</li>
                            </ul>
                            <ul>+ Nền tảng
                                <li>Android</li>
                                <li>iOS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters mgt20">
                    <p class="ttl_question">Bạn có thể trả bao nhiêu chi phí cho quảng cáo này?</p>
                    <div class="col-12 col-sm-6 col-md-8">
                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p>Lịch chạy<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group form-group-sm">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input id="startday" ngx-mydatepicker [(ngModel)]="model" [options]="dateOptions" #start="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" type='text' class="form-control" name="startday" />
                                        <span class="input-group-btn">
                            
                                                    <button type="button" class="btn btn-default" (click)="start.toggleCalendar()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group form-group-sm">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input id="startday" ngx-mydatepicker [(ngModel)]="model" [options]="dateOptions" #start="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" type='text' class="form-control" name="startday" />
                                        <span class="input-group-btn">
                                    
                                                            <button type="button" class="btn btn-default" (click)="start.toggleCalendar()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p>Số lượng<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group form-group-sm">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="" placeholder="Nhập số lượng">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group form-group-sm">
                                    <div class="form-group">
                                        <select class="form-control" id="">
                                                                <option>Toàn chiến dịch</option>
                                                                <option>Mỗi ngày</option>
                                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p class="mgt10">Chọn gói<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group form-group-sm">
                                    <div class="checkbox">
                                        <label>
                                                    <input type="checkbox" value="">
                                                    Cài đặt
                                                </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                                        <input type="checkbox" value="">
                                                        Tìm kiếm theo keyword
                                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                                            <input type="checkbox" value="">
                                                            Đánh sao
                                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                                                <input type="checkbox" value="">
                                                                Đánh giá
                                                            </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p>Từ khóa<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="row no-gutters mg0">
                                    <div class="form-group form-group-sm">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="" placeholder="Nhập từ khóa">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p>Đặt giá<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="row no-gutters">
                                    <div class="col-12 col-sm-6 col-md-8">
                                        <div class="form-group form-group-sm">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Nhập giá">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 text-left">
                                        <p class="pdt5">đ/ lượt nhấn</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p>Nhà phân phối<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="row no-gutters">
                                    <div class="col-12 col-sm-6 col-md-8">
                                        <div class="form-group form-group-sm">
                                            <div class="form-group">
                                                <select class="form-control" id="">
                                                                                <option>Chuẩn</option>
                                                                                <option>Tăng tốc</option>
                                                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4">
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p>Tổng chi phí dự kiến<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <p>0đ</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row no-gutters mgt20">
                    <p class="ttl_question">Thông tin thêm</p>
                    <div class="col-12 col-sm-6 col-md-8">
                        <div class="row no-gutters">
                            <div class="col-6 col-md-4 text-right">
                                <p>Ngành nghề<span class="glyphicon glyphicon-question-sign mgl10" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="more_info">
                                    <div class="checkbox">
                                        <label>
                                                <input type="checkbox" value="">
                                                Trò chơi
                                            </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                                    <input type="checkbox" value="">
                                                    Nhạc và phim ảnh
                                                </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                                        <input type="checkbox" value="">
                                                        Giáo dục
                                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                                            <input type="checkbox" value="">
                                                            Sức khỏe làm đẹp
                                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                                                <input type="checkbox" value="">
                                                                Thiết bị điện tử và phần mềm
                                                            </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                                                    <input type="checkbox" value="">
                                                                    Ẩm thực
                                                                </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                                                        <input type="checkbox" value="">
                                                                        Thời trang
                                                                    </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters mgt20">
                    <div class="col-6 col-md-8">
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 text-right">
                        <button type="button" class="btn btn-default">Lưu</button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2">
                        <button type="button" class="btn btn-primary">Lưu và gửi duyệt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>