<app-nav-sp></app-nav-sp>
<app-sidebar></app-sidebar>
<main class="inner_content_box col-sm-9 col-md-10 col-lg-10">
    <iframe class="iframe" #frame width="100%" height="500px" frameborder="0" (load)="onload()"></iframe>
    <div class="deposit_ttl ">
        <p>Please choose method deposit</p>
    </div>
    <div class="row deposit_content ">
        <div class="item_method col-md-6 ">
            <div class="item_method_inner ">
                <div class="setting1 state1 ">
                    <a href="javascript:; " (click)="localBank() " class="media ">
                        <span class="media-left ">
                            <img src="../../../../assets/images/icon/ic_vtc_pay.png " width="90 " height="90 " alt=" " class="media-object ">
                        </span>
                        <span class="media-body ">
                            Nạp online <br /> <span>Nạp qua VTC Pay</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="item_method col-md-6 ">
            <div class="item_method_inner ">
                <a href="javascript:; " onclick=" " class="media ">
                    <span class="media-left ">
                        <img src="../../../../assets/images/icon/ic_paypal.png " width="90 " height="90 "  alt=" " class="media-object ">
                    </span>
                    <span class="media-body ">
                        Nạp online  <br /> <span>Nạp qua Paypal</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</main>