.vali_error {
    float: left;
    color: red;
    margin-bottom: 5px;
}

.close {
    float: right;
    margin-right: -20px;
    margin-top: -15px;
}

.close :hover {
    cursor: pointer;
}


/*=========================
common dashboard
=========================*/

.reset_mg {
    margin: 0;
}

.reset_pd {
    padding: 0;
}

.inner_content_box {
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #ddd;
    margin: 6px 0;
    padding: 20px 15px;
    min-height: 610px;
}

span.glyphicon {
    font-size: 85%;
    margin-right: 10px;
}

h2 {
    color: #555;
    font-size: 18px;
    margin: 15px 0;
    text-transform: uppercase;
}

.dashboard_tri_feature_box_top {
    text-align: center;
    background: #9ed683;
    ;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 4px;
}

.dashboard_tri_feature_box_top div {
    padding: 10px 12px;
}

.dashboard_tri_feature_box_top div span {
    font-size: 36px;
}

.dashboard_tri_feature_box_bottom_left {
    text-align: center;
    float: left;
    width: 50%;
}

.dashboard_tri_feature_box_bottom_left div {
    background: #e5f6dd;
    border-bottom-left-radius: 6px;
    margin-right: 2px;
}

.dashboard_tri_feature_box_bottom_left div div,
.dashboard_tri_feature_box_bottom_right div div {
    padding: 10px 12px;
    line-height: 24px;
}

.dashboard_tri_feature_box_bottom_left div div span,
.dashboard_tri_feature_box_bottom_right div div span {
    font-size: 22px;
}

.dashboard_tri_feature_box_bottom_right {
    text-align: center;
    float: right;
    width: 50%;
}

.dashboard_tri_feature_box_bottom_right div {
    background: #e5f6dd;
    border-bottom-right-radius: 6px;
    margin-left: 2px;
}

.canvasjs-chart-credit {
    display: none;
}

#chartEarnings {
    position: relative;
    height: 370px;
    width: 100%;
}

#chartEarnings:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #ffffff;
}

.chartEarnings_wrap {
    margin-top: 30px;
}

.dataTable_cnt {
    margin-top: 30px;
}

.dataTables_wrapper {
    padding: 15px 10px;
}

.inner_cntbox_ttl {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.inner_table {
    margin-top: 30px;
}

.inner_table td {
    vertical-align: middle !important;
}

.inner_table thead tr {
    background-color: rgb(219, 208, 208) !important;
}

.inner_table tbody tr:hover {
    background-color: rgb(243, 243, 243) !important;
}

.statistical .sum {
    border: 1px solid #000;
    margin: 0 0 15px 0 !important;
    padding-top: 10px;
}

.inner_pagination {
    text-align: right;
}


/* switch button - checkbox */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0 !important;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #29ce61;
}

input:focus+.slider {
    box-shadow: 0 0 1px #29ce61;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*=========================
responsive
=========================*/

@media screen and (max-width: 690px) {
    #chartEarnings {
        height: 200px;
    }
}